.card.form-group.js--message{data: {id: "#{message.id}"}}
  .card-block
    .row
      .col-md-1.message--avatar
        = gravatar_for message.user
      .col-md-2.card-text-area
        .card-text
          %strong= message.user.name
          %span.text-muted
            = message.created_at.strftime('%H:%M:%S %d %B %Y')
          = link_to "Ändern", "#", class: "message--edit js--message--edit"
          = link_to "Löschen", message_path(message), method: :delete, class: "message--delete js--message--delete"
        = message.body
